-@ val content: String
-@ val filename: String
html
  head
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    title= filename
    link(type="text/css" rel="stylesheet" href="/public/style.css")
    script(type="text/javascript" src="/public/onedit.js")
  body
    span#cursor
    #buffers
      pre#buffer.buffer(contenteditable="true")
    input#minibuffer(type="text")
    :javascript
      onedit.main();
