html
  head
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    title onedit
    link(type="text/css" rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css")
    link(type="text/css" rel="stylesheet" href="public/bootstrap/css/bootstrap-responsive.min.css")
    link(type="text/css" rel="stylesheet" href="public/shjs-0.6/sh_style.min.css")
    script(type="text/javascript" src="public/jquery-1.7.1.min.js")
    script(type="text/javascript" src="public/bootstrap/js/bootstrap.js")
    script(type="text/javascript" src="public/shjs-0.6/sh_main.min.js")
    :css
      body {
        padding-top: 60px;
      }
    :coffeescript
      $('.dropdown-toggle').dropdown()
      highlight = -> sh_highlightDocument('public/shjs-0.6/lang/', '.min.js')
      syntax = (sh) ->
        window.localStorage.sh = sh
        $('#buffer').attr 'class', sh
      buffer = -> $('#buffer').text()
      view = (data) -> $('#view').html data
      $(document).ready ->
        $('#open').click -> $('#file').click()
        $('#file').change ->
          name = $('#file').val()
          syntax 'sh_' + name.substr(name.lastIndexOf('.') + 1)
          $('#submit').click()
        $('#upload-target').load ->
          $('#buffer').text $('#upload-target').contents().text()
          highlight()
        $('#save-local').click -> window.localStorage.buffer = buffer()
        $('.lang').click (event) ->
          sh = $(event.target).attr 'sh'
          syntax sh
          highlight()
        $('#view-markup').click -> view buffer()
        $('#compile-markdown').click ->
          $.post 'markdown', { content: buffer() }, view, 'text'
        $('#buffer').blur -> highlight()
        if window.localStorage.buffer
          $('#buffer').append window.localStorage.buffer
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="#") onedit
          .nav-collapse
            ul.nav
              li.dropdown
                a.dropdown-toggle(href="#" data-toggle="dropdown")
                  | File
                  b.caret
                ul.dropdown-menu
                  li
                    a#open(href="#") Open
                    iframe#upload-target.hide(name="upload-target")
                    form.hide(method="post" action="/open" enctype="multipart/form-data" target="upload-target")
                      input#file(name="file" type="file" required=true)
                      input#submit(type="submit")
                  li
                    a#save-local(href="#") Save Local
                  li
                    a#quit(href="#") Quit
              li.dropdown
                a.dropdown-toggle(href="#" data-toggle="dropdown")
                  | Language
                  b.caret
                ul.dropdown-menu
                  li
                    a.lang(href="#" sh="") Plain
                    a.lang(href="#" sh="sh_c") C
                    a.lang(href="#" sh="sh_cpp") C++
                    a.lang(href="#" sh="sh_csharp") C#
                    a.lang(href="#" sh="sh_css") CSS
                    a.lang(href="#" sh="sh_html") HTML
                    a.lang(href="#" sh="sh_java") Java
                    a.lang(href="#" sh="sh_javascript") JavaScript
                    a.lang(href="#" sh="sh_perl") Perl
                    a.lang(href="#" sh="sh_php") PHP
                    a.lang(href="#" sh="sh_prolog") Prolog
                    a.lang(href="#" sh="sh_python") Python
                    a.lang(href="#" sh="sh_ruby") Ruby
                    a.lang(href="#" sh="sh_scala") Scala
                    a.lang(href="#" sh="sh_sh") sh
                    a.lang(href="#" sh="sh_xml") XML
              li.dropdown
                a.dropdown-toggle(href="#" data-toggle="dropdown")
                  | Compile
                  b.caret
                ul.dropdown-menu
                  li
                    a#view-markup(href="#") View Markup
                    a#compile-markdown(href="#") Compile Markdown
    .container-fluid
      .row-fluid
        .span6
          pre#buffer(contenteditable="true")
        .span6
          #view
