-@ val content: String
-@ val filename: String
html
  head
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    title= filename
    link(type="text/css" rel="stylesheet" href="/public/style.css")
  body
    span#cursor
      span#space
      span#pointer
    pre#buffer(contenteditable="true")
    input#minibuffer(type="text")
    script(type="text/javascript" src="/public/onedit.js")
