-@ val content: String
-@ val filename: String
html
  head
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    title= filename
    link(type="text/css" rel="stylesheet" href="/public/style.css")
  body
    #display
    textarea#buffer
    input#minibuffer(type="text")
    script(type="text/javascript" src="/public/onedit.js")
