-@ val lexers: String
html
  head
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    title onedit
    link(type="text/css" rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css")
    link(type="text/css" rel="stylesheet" href="public/bootstrap/css/bootstrap-responsive.min.css")
    script(type="text/javascript" src="public/jquery-1.7.1.min.js")
    script(type="text/javascript" src="public/bootstrap/js/bootstrap.js")
    :sass
      #base
        padding-top: 60px
  body#base
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="#") onedit
          .nav-collapse
            ul.nav
              li.dropdown
                a.dropdown-toggle(href="#" data-toggle="dropdown")
                  | File
                  b.caret
                ul.dropdown-menu
                  li
                    a#open(href="#") Open
                  li
                    a#save(href="#") Save
                  li
                    a#save-local(href="#") Save Local
                  li
                    a#quit(href="#") Quit
              li.dropdown
                a.dropdown-toggle(href="#" data-toggle="dropdown")
                  | Language
                  b.caret
                ul.dropdown-menu
                  li
                    - for(lexer <- lexers.split(","))
                      a.lang(href="#")= lexer
              li.dropdown
                a.dropdown-toggle(href="#" data-toggle="dropdown")
                  | Compile
                  b.caret
                ul.dropdown-menu
                  li
                    a#view-markup(href="#") View Markup
                    a#compile-markdown(href="#") Compile Markdown
                    a#save-view-source(href="#") Save View Source
    .container-fluid
      .row-fluid
        .span12
          #buffer
    .hide
      iframe#uploading-target.hide(name="uploading-target")
      form(method="post" action="/open" enctype="multipart/form-data" target="uploading-target")
        input#file(name="file" type="file" required=true)
        input#uploading(type="submit")
      form#save-form(method="post" action="/save" target="_blank")
        textarea#hidden-buffer(name="content")
        input#submit-buffer(type="submit")
    script(type="text/javascript" src="public/onedit.js")
