html
  head
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    title onedit
    link(type="text/css" rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css")
    link(type="text/css" rel="stylesheet" href="public/bootstrap/css/bootstrap-responsive.min.css")
    link(type="text/css" rel="stylesheet" href="public/shjs-0.6/sh_style.min.css")
    link(type="text/css" rel="stylesheet" href="public/pygments.css")
    script(type="text/javascript" src="public/jquery-1.7.1.min.js")
    script(type="text/javascript" src="public/bootstrap/js/bootstrap.js")
    :css
      body {
        padding-top: 60px;
      }
    :coffeescript
      filename = (name) ->
        $('#save-form').attr 'action', '/save/' + name
      buffer = ->
        $('#buffer br').replaceWith('\n')
        $('#buffer').text()
      view = (data) -> $('#view').html data
      $('.dropdown-toggle').dropdown()
      if !window.localStorage.file
        window.localStorage.file = 'out'
      $(document).ready ->
        $('#save').click ->
          $('#hidden-buffer').val buffer()
          $('#submit-buffer').click()
        $('#save-local').click -> window.localStorage.buffer = buffer()
        $('#view-markup').click -> view buffer()
        $('#compile-markdown').click ->
          $.post 'markdown', { content: buffer() }, view, 'text'
        $('#save-view-source').click ->
          source = $('#view').html()
          if source != ''
            $('#hidden-buffer').val source
            $('#submit-buffer').click()
        filename window.localStorage.file
        if window.localStorage.buffer
          $('#buffer').append window.localStorage.buffer
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="#") onedit
          .nav-collapse
            ul.nav
              li.dropdown
                a.dropdown-toggle(href="#" data-toggle="dropdown")
                  | File
                  b.caret
                ul.dropdown-menu
                  li
                    a#open(href="#") Open
                  li
                    a#save(href="#") Save
                  li
                    a#save-local(href="#") Save Local
                  li
                    a#quit(href="#") Quit
              li.dropdown
                a.dropdown-toggle(href="#" data-toggle="dropdown")
                  | Language
                  b.caret
                ul.dropdown-menu
                  li
                    a.lang(href="#") groovy
                    a.lang(href="#") clojure
                    a.lang(href="#") java
                    a.lang(href="#") python
                    a.lang(href="#") scala
              li.dropdown
                a.dropdown-toggle(href="#" data-toggle="dropdown")
                  | Compile
                  b.caret
                ul.dropdown-menu
                  li
                    a#view-markup(href="#") View Markup
                    a#compile-markdown(href="#") Compile Markdown
                    a#save-view-source(href="#") Save View Source
    .container-fluid
      .row-fluid
        .span6
          pre#buffer(contenteditable="true")
        .span6
          #view
    .hide
      iframe#uploading-target.hide(name="uploading-target")
      form(method="post" action="/open" enctype="multipart/form-data" target="uploading-target")
        input#file(name="file" type="file" required=true)
        input#uploading(type="submit")
      form#save-form(method="post" action="/save" target="_blank")
        textarea#hidden-buffer(name="content")
        input#submit-buffer(type="submit")
    script(type="text/javascript" src="public/onedit.js")
