-@ val filename: String
html
  head
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    title= filename
    link(type="text/css" rel="stylesheet" href="/public/style.css")
    script(type="text/javascript" src="/public/onedit.js")
  body
    #field
    input#file(type="file")
    :javascript
      onedit.init();
