body {
  margin: 0;
}

#display {
  position: absolute;
  z-index: 0;
}

#buffer {
  position: absolute;
  z-index: 1;
  border-style: none;
  width: 100%;
  height: 100%;
  color: transparent;
  background-color: transparent;
}

#minibuffer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}
