body {
  margin: 0;
}

@-webkit-keyframes blink {
  from { opacity: 1.0; }
  to { opacity: 0; }
}

@-moz-keyframes blink {
  from { opacity: 1.0; }
  to { opacity: 0; }
}

#cursor {
  background-color: white;
  position: absolute;
  width: 1ex;
  height: 1em;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
}

#buffer {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0;
}

#minibuffer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
