body {
  margin: 0;
}

#cursor {
  position: absolute;
  z-index: 0;
}

#space {
  visibility: hidden;
}

#pointer {
  width: 1ex;
  height: 1em;
  text-decoration: blink;
}

#buffer {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 0;
}

#buffer p {
  margin: 0;
}

#minibuffer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
